<h2>Sign Up</h2>
<script src="/js/index.js"></script>
<script src="/js/posts.js"></script>

<form id="signup-form">
    <label for="signup-username">Username:</label>
    <input type="text" id="signup-username" name="username" required>

    <label for="signup-email">Email:</label> <!-- Add email input field -->
    <input type="email" id="signup-email" name="email" required>

    <label for="signup-password">Password:</label>
    <input type="password" id="signup-password" name="password" required>
    <button type="submit">Sign Up</button>
    
</form>


